*{
    box-sizing:border-box;
}
body{
    background-image: url(https://images.unsplash.com/photo-1518943701174-17e4aff936d4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHNwcmluZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    min-height: 100vh;
    background-position: center center;
}